{
	"Version": "2012-10-17",
	"Statement": [
		{
			"Effect": "Deny",
			"Action": [
				"ec2:AssociateDhcpOptions",
				"ec2:AssociateRouteTable",
				"ec2:AttachInternetGateway",
				"ec2:AttachVpnGateway",
				"ec2:CreateCustomerGateway",
				"ec2:CreateDhcpOptions",
				"ec2:CreateFlowLogs",
				"ec2:CreateInternetGateway",
				"ec2:CreateNatGateway",
				"ec2:CreateNetworkAcl",
				"ec2:CreateNetworkAclEntry",
				"ec2:CreateRoute",
				"ec2:CreateRouteTable",
				"ec2:CreateSubnet",
				"ec2:CreateVpc",
				"ec2:CreateVpcEndpoint",
				"ec2:CreateVpnConnection",
				"ec2:CreateVpnConnectionRoute",
				"ec2:CreateVpnGateway",
				"ec2:DeleteFlowLogs",
				"ec2:DeleteNatGateway",
				"ec2:DeleteSubnet",
				"ec2:DeleteVpc",
				"ec2:DeleteVpcEndpoints",
				"ec2:DeleteVpnConnection",
				"ec2:DeleteVpnConnectionRoute",
				"ec2:DeleteVpnGateway",
				"ec2:DetachInternetGateway",
				"ec2:DetachVpnGateway",
				"ec2:DisableVgwRoutePropagation",
				"ec2:DisassociateRouteTable",
				"ec2:EnableVgwRoutePropagation",
				"ec2:ModifySubnetAttribute",
				"ec2:ModifyVpcAttribute",
				"ec2:ModifyVpcEndpoint",
				"ec2:MoveAddressToVpc",
				"ec2:ReplaceNetworkAclAssociation",
				"ec2:ReplaceNetworkAclEntry",
				"ec2:ReplaceRoute",
				"ec2:ReplaceRouteTableAssociation",
				"ec2:RestoreAddressToClassic",
				"ec2:UnassignPrivateIpAddresses",
				"directconnect:*",
				"route53:*",
				"route53domains:*",
				"ec2:AcceptVpcPeeringConnection",
				"ec2:AttachClassicLinkVpc",
				"ec2:CreateVpcPeeringConnection",
				"ec2:DeleteCustomerGateway",
				"ec2:DeleteDhcpOptions",
				"ec2:DeleteInternetGateway",
				"ec2:DeleteNetworkAcl",
				"ec2:DeleteNetworkAclEntry",
				"ec2:DeleteRoute",
				"ec2:DeleteRouteTable",
				"ec2:DeleteVolume",
				"ec2:DeleteVpcPeeringConnection",
				"ec2:DetachClassicLinkVpc",
				"ec2:DisableVpcClassicLink",
				"ec2:EnableVpcClassicLink",
				"ec2:RejectVpcPeeringConnection"
			],
            "Resource": [
                "*"
            ]
		}
	]
}
